{{#if showTopPageNumbers}}
  {{page-numbers content=model numPagesToShow=4}}
{{/if}}
<br>
<ul class="users">
{{#each user in model}}
  <li>
  {{#link-to 'user.index' user.id}}{{gravatar-image email=user.email alt=user.name size=50 imgClass='gravatar'}}{{/link-to}}
  {{#link-to 'user.index' user.id}}{{user.name}}{{/link-to}}
  </li>
{{/each}}
</ul>
<br>
{{#if showBottomPageNumbers}}
  {{page-numbers content=model numPagesToShow=4}}
{{/if}}

