<section class="user_info">
  <h1>
  {{gravatar-image email=model.email alt='John Otander gravatar' size=50 imgClass='gravatar'}}
  {{model.name}}
  </h1>
</section>
<section class="stats">
  {{! <%= render 'shared/stats' %> }}
</section>

