<h1> All users </h1>

<br>
{{page-numbers content=content numPagesToShow=4}}
<br>
<ul class="users">
{{#each user in model}}
  <li>
  {{#link-to 'user.index' user.id}}{{gravatar-image email=user.email alt=user.name size=50 imgClass='gravatar'}}{{/link-to}}
  {{#link-to 'user.index' user.id}}{{user.name}}{{/link-to}}
  </li>
{{/each}}
</ul>
<br>
{{page-numbers content=content numPagesToShow=4}}
