<div class="row">
  <aside class="col-md-4">
    {{user-profile model=model}}
  </aside>
  <div class="col-md-8">
    {{! <%= render 'follow_form' if logged_in? %> }}
    {{! <% if @user.microposts.any? %> }}
    {{outlet 'microposts'}}
    {{! <% end %> }}
  </div>
</div>
