<div class="row">
  <aside class="col-md-4">
    {{user-profile model=model gravatarUsers=gravatarUsers}}
    <section class="micropost_form">
      <form class="form-basic" role="form" {{action 'createMicropost' on='submit'}}>
        <div class="field">
          {{textarea cols="80" value=micropost.content rows="4" placeholder="Compose new micropost..."}}
        </div>

        <input type="submit" class="btn btn-primary">
      </form>
    </section>
  </aside>
  <div class="col-md-8">
    {{microposts-index
      title="Micropost Feed"
      model=model.microposts
    }}
  </div>
</div>
