<div class="row">
  <aside class="col-md-4">
    {{user-profile model=model gravatarUsers=gravatarUsers}}
  </aside>
  <div class="col-md-8">
    {{! <%= render 'follow_form' if logged_in? %> }}
    {{outlet 'side-list'}}
  </div>
</div>
