<h1>About</h1>
<p>
  This app is a fork of <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> built on Ember. The backend is still built on Rails by extending the <a href="http://www.railstutorial.org/"><em>Rails tutorial app</em></a>.
</p>


<p>
  You can find more info in the github repositories:
  <a href="https://github.com/vasilakisfil/rails_tutorial_ember"><em>rails_tutorial_ember</em></a> and <a href="https://github.com/vasilakisfil/rails_tutorial_api"><em>rails_tutorial_api</em></a>.
</p>
