<h1>Contact</h1>
<p>
  Open a gihub issue in the repositories
  <a href="https://github.com/vasilakisfil/rails_tutorial_ember"><em>rails_tutorial_ember</em></a> and <a href="https://github.com/vasilakisfil/rails_tutorial_api"><em>rails_tutorial_api</em></a>.
</p>
