<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="/login" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="udPiC/y981wsUD7gR14Oiv5zgz77jC/0m8plsYort9mqwizTOQYxZTUiUjbfR0ei5d53VgqltP+rRRByxfUtrg==" />
      
      <label for="session_email">Email</label>
      <input class="form-control" type="text" name="session[email]" id="session_email" />
      
      <label for="session_password">Password</label>
      <a href="/password_resets/new">(forgot password)</a>
      <input class="form-control" type="password" name="session[password]" id="session_password" />
      
      <label class="checkbox inline" for="session_remember_me">
        <input name="session[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="session[remember_me]" id="session_remember_me" />
        <span>Remember me on this computer</span>
      </label>      
      <input type="submit" name="commit" value="Log in" class="btn btn-primary" />
    </form>    

    <p>New user? <a href="/signup">Sign up now!</a></p>

  </div>
</div>

